.header
  position: relative
  background-color: #ffffff

.header__container
  display: flex
  justify-content: space-between
  align-items: center
  max-width: 1440px
  width: 100%
  margin: 0 auto
  padding: 21px 80px

.header__left
  display: flex
  align-items: center

.header__logo
  width: 128px
  height: auto
  margin-right: 60px

  img
    display: block
    width: 100%

.header__menu
  display: flex
  margin: 0
  padding: 0

.header__item
  position: relative
  margin-right: 35px

.header__dropdown-projects
  &:hover
    .header__projects-list
      display: block

    .header__link-dropdown
      &:before
        top: 47%
        transform: rotate(180deg)

  &:last-child
    margin-right: 0

.header__link
  font-family: 'Montserrat', sans-serif
  font-style: normal
  font-weight: normal
  font-size: 14px
  line-height: 17px
  color: #212121
  text-decoration: none

.header__link-dropdown
    position: relative
    padding: 40px 0
    padding-right: 15px

    &::before
      content: ''
      position: absolute
      right: 0
      top: 50%
      width: 11px
      height: 7px
      background-image: url("./dropdown.svg")
      background-repeat: no-repeat
      background-position: center
      background-size: contain
      transform: translateY(-50%)

.header__projects-list
  position: absolute
  left: -188px
  top: 55px
  display: none
  width: 350px
  z-index: 100
  border: 1px solid #CDD3DB
  border-radius: 5px
  background: #FFFFFF

.header__projects-wrapper
  height: 305px
  padding: 31px 25px 0
  overflow-y: scroll

.header__projects-wrapper::-webkit-scrollbar
  width: 4px

.header__projects-wrapper::-webkit-scrollbar-track
  box-shadow: inset 0 0 6px #ffffff

.header__projects-wrapper::-webkit-scrollbar-thumb
  background-color: #93979B
  outline: 1px solid slategrey


.header__projects-item
  display: flex
  justify-content: space-between
  margin-bottom: 15px

.header__projects-left
  display: flex
  align-items: center

.header__projects-star
  margin-right: 9px

.header__project
  font-family: 'Montserrat', sans-serif
  font-style: normal
  font-weight: normal
  font-size: 14px
  line-height: 18px
  color: #212121
  opacity: 0.5

.header__projects-right
  display: flex

.header__active-count
  display: flex
  justify-content: center
  align-items: center
  width: 35px
  height: 25px
  margin-right: 5px
  border-radius: 5px
  background-color: #0066FF
  color: #FFFFFF
  font-family: 'Montserrat', sans-serif
  font-style: normal
  font-weight: normal
  font-size: 14px
  line-height: 17px

.header__all-count
  display: flex
  justify-content: center
  align-items: center
  width: 35px
  height: 25px
  border: 1px solid #CDD3DB
  border-radius: 5px
  background-color: #ffffff
  font-family: 'Montserrat', sans-serif
  font-style: normal
  font-weight: normal
  font-size: 14px
  line-height: 17px
  color: #93979B

.header__information
  display: flex

.header__notifications
  display: flex
  align-items: center
  margin-right: 45px

.header__notification
  margin-right: 23px

  &:last-child
    margin-right: 0

.header__user
  position: relative
  padding-right: 20px

  &::before
    content: ''
    position: absolute
    right: 0
    top: 50%
    width: 11px
    height: 7px
    background-image: url("./dropdown.svg")
    background-repeat: no-repeat
    background-position: center
    background-size: contain
    transform: translateY(-50%)

.header__user-inage
  width: 42px
  height: auto

  img
    width: 100%
