header.header
  .header__left
    .header__logo
      img(src="images/header/logo.svg")
    nav.header__navigation
      ul.header__menu
        li.header__item
          a(href="javascript:void(0)").header__link.header__link-dropdown
            | Проекты
        li.header__item
          a(href="javascript:void(0)").header__link
            | Задачи для меня
        li.header__item
          a(href="javascript:void(0)").header__link
            | База знаний
        li.header__item
          a(href="javascript:void(0)").header__link
            | Все задачи
        li.header__item
          a(href="javascript:void(0)").header__link
            | Просмотренные
  .header__information
    .header__notifications
      .header__notification
        img(src="images/header/star.svg")
      .header__notification
        img(src="images/header/notification.svg")
    .header__user
      .header__user-inage
        img(src="images/header/avatar.png")
