section.education
  .education__wrapper
    .education__content
      h2
        | Краткое обучение
      p
        | Банки все больше осознают важность риск-культуры как области, необходимой для эффективного управления рисками.
        | Понимание риск-культуры развивалось от ее восприятия как необходимости выполнять требования регулятора в области
        | рисков до сбалансированной системы, в центре которой находится оптимальное для организации соотношение риска и доходности,
        | а если наклонить линию, то круг начинает скользить вниз и кажется, что тот, который справа, вот-вот упадёт»
      blockquote
        p
          | «Понимание риск-культуры развивалось от ее восприятия как необходимости выполнять требования
          | регулятора в области рисков до сбалансированной системы»
      p
        | На ранней стадии я поймал себя на мысли, что большинство примеров — это простые сайты. Идея обычно соответствует
        | следующему формату: «Посмотрите на эти линии и 2 окружности: если предположить, что это набор масштабов, то окружность,
        | которая более удалена от центра, перевешивает, а если наклонить линию, то круг начинает скользить вниз и кажется, что тот, который справа, вот-вот упадёт».
      h3
        | Общая информация
      p
        | Если ранее бизнес рассматривал риск-подразделения как сдерживающий фактор развития, то сейчас они выступают в роли партнеров.
        | Формальными правилами достичь такого результата вряд ли возможно, требуется соответствующая корпоративная культура.
      figure
        img(src="images/education/image.jpg" alt="ckeditor image")
        figcaption
          | Риск-культура - это устоявшиеся нормы поведения сотрудников, направленные на выявление рисков и управление ими.
      h4
        | Какие могут быть задачи у данного решения:
      ul
        li
          | Сформировать у линейных руководителей набор управленческих знаний и навыков, необходимых для эффективного
          | выполнения ими своих обязанностей в соответствии со стратегией Банка и корпоративной моделью компетенций;
        li
          | Сформировать мотивацию к дальнейшему развитию;
        li
          | Выявить высоко-потенциальных руководителей Банка для дальнейшего карьерного развития.
      h3
        | Для чего это нужно?
      ol
        li
          | Команда и управление людьми;
        li
          | Побуждение, мотивирование подчиненных и коллег к участию в улучшениях;
        li
          | Эффективное управление людьми;
        li
          | Определение факторов, влияющих на вовлеченность в коллективе использование управленческих инструментов
          | / рычагов влияния на эти факторы; подбор адекватных / убедительных тезисов и аргументов для различных целевых аудиторий влияния; воодушевление людей в личном общении;
        li
          | Построение эффективных команд, лидерство и личная эффективность;
        li
          | Принятие на себя лидерства и выбор стиля лидерства;
        li
          | Фиксация и анализ своих эмоций с целью повышения эффективности профессиональной деятельности;
        li
          | Навык постоянного личностного развития,
      h3
        | Видео-уроки
      .education__quizes
        .education__quize
          .education__quize-image
            img(src="images/education/first.png")
            .education__time
              | 10:40
          .education__quize-bottom
            | Команда и управление людьми
        .education__quize
          .education__quize-image
            img(src="images/education/second.png")
            .education__time
              | 5:10
          .education__quize-bottom
            | Мотивирование подчиненных и коллег к участию в улучшениях
        .education__quize
          .education__quize-image
            img(src="images/education/third.png")
            .education__time
              | 20:32
          .education__quize-bottom
            | Навык постоянного личностного развития
        .education__quize
          .education__quize-image
            img(src="images/education/fourth.png")
            .education__time
              | 13:10
          .education__quize-bottom
            | Принятие на себя лидерства
        .education__quize
          .education__quize-image
            img(src="images/education/fifth.png")
            .education__time
              | 7:05
          .education__quize-bottom
            | Личная эффективность
        .education__quize
          .education__quize-image
            img(src="images/education/sixth.png")
            .education__time
              | 15:00
          .education__quize-bottom
            | Факторы влияющие на вовлеченность в коллективе
      h2
        | Оставьте отзыв о вашем использовании!
      form.education__review
        textarea(placeholder="Напишите ваш отзыв...").education__review-area
        .education__review-wrapper
          label.custom-file-upload
            input(type="file")
            .education__review-box
              .education__review__image
                img(src="images/education/file.png")
              .education__review-description
                h4 Прикрепить файлы
                p Jpg, png, gif, mp4 не более 15 Мб
          button(type="submit").education__review-submit
            | Отправить отзыв


    .education__sidebar
      .education__sidebar__wrapper
        .education__sidebar-item.education__sidebar-item-active
          | Краткое обучение
        .education__sidebar-item
          | Общая информация
        .education__sidebar-item
          | Видео-уроки
        .education__sidebar-item
          | Отзывы
